In [1]:
# Hedef R2 => 0.80
# RMSE <= 100k

In [2]:
# renovations değerine bak dummy
# sqt_above sqt living birleştirilebilir
# renovated 0-1 yapılabilir
# zipcode str yap sonra >> zipcode category yap

In [3]:
import pandas as pd
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt
import numpy as np

from scipy.stats import ttest_ind
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.linear_model import Ridge, Lasso, ElasticNet
from sklearn.tree import DecisionTreeRegressor

In [4]:
lr = LinearRegression()

In [5]:
df=pd.read_csv("kc_house_data.csv")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [8]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [9]:
df["price"].sort_values(ascending=False)

7252     7700000.0
3914     7062500.0
9254     6885000.0
4411     5570000.0
1448     5350000.0
           ...
8274       82000.0
16198      81000.0
465        80000.0
15293      78000.0
1149       75000.0
Name: price, Length: 21613, dtype: float64

In [10]:
abs(df.corr(numeric_only=True)["price"].sort_values(ascending=False))

price            1.000000
sqft_living      0.702035
grade            0.667434
sqft_above       0.605567
sqft_living15    0.585379
bathrooms        0.525138
view             0.397293
sqft_basement    0.323816
bedrooms         0.308350
lat              0.307003
waterfront       0.266369
floors           0.256794
yr_renovated     0.126434
sqft_lot         0.089661
sqft_lot15       0.082447
yr_built         0.054012
condition        0.036362
long             0.021626
id               0.016762
zipcode          0.053203
Name: price, dtype: float64

In [45]:
df["zipcode"]=df["zipcode"].astype("category")

In [175]:
df["view"]=df["view"].astype("category") # 0.036361

In [ ]:
df["waterfront"]=df["waterfront"].astype("category")

In [125]:
df["condition"]=df["condition"].astype("category")

In [210]:
df["floors"]=df["floors"].astype("category")

In [235]:
df["grade"]=df["grade"].astype("category")

In [237]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [214]:
df["floors"]=df["floors"].astype("category")

In [290]:
df['date'] = pd.to_datetime(df['date'])

df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day

In [310]:
df["yr_renovated"]= 2024 - df["yr_renovated"]

In [312]:
abs(df.corr(numeric_only=True)["price"].sort_values(ascending=False))

price            1.000000
sqft_living      0.702035
sqft_above       0.605567
sqft_living15    0.585379
bathrooms        0.525138
sqft_basement    0.323816
bedrooms         0.308350
lat              0.307003
sqft_lot         0.089661
sqft_lot15       0.082447
yr_built         0.054012
long             0.021626
year             0.003576
month            0.010081
day              0.014670
id               0.016762
yr_renovated     0.126434
Name: price, dtype: float64

In [314]:
x=df[["sqft_living", "grade", "sqft_above", "sqft_basement", "sqft_living15", "bathrooms", "view", "bedrooms", "zipcode", "floors", "condition", "view", "waterfront", 'year', 'month', "day", "yr_renovated"]]
y=df[["price"]]
x=pd.get_dummies(x,drop_first=True)

In [316]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  datetime64[ns]
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  category
 8   waterfront     21613 non-null  category
 9   view           21613 non-null  category
 10  condition      21613 non-null  category
 11  grade          21613 non-null  category
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  category
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
 21  year           21613 non-null  int32
 22  month          21613 non-null  int32
 23  day            21613 non-null  int32
dtypes: category(6), datetime64[ns](1), float64(4), int32(3), int64(10)
memory usage: 2.8 MB

In [318]:
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.20,random_state=42)

In [320]:
model=lr.fit(X_train, y_train)

In [322]:
tahmin1=model.predict(X_test)

In [324]:
mean_squared_error(y_test, tahmin1) ** 0.5

156576.43554151565

In [326]:
r2_score(y_test, tahmin1)

0.8378309740905582